
main {
    width:  940px;
    margin: 0 auto;
}

.surgimos, .h2-equipe{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #FF69B4;
}

.h2-equipe{
    clear: left;
}

iframe{
    float: left;
    margin: 20px;
}

.explicacao{
    margin: 20px;
}

.equipe{
    background: linear-gradient(#FEFEFE, #FF69B4);
}

.equipe li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.equipe-nome{
    font-size: 18px;
}

.equipe-descricao{
    font-size: 16px;
    margin: 10px 0 0;
}

form {
    margin: 40px 0;
}

.input-padrao {
    display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
    font-size: 13px;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
    margin: 20px 0;
    display: block;
    width:40%;
	padding: 15px 0;
    font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
    background-color: violet;
    color: whitesmoke;
    transition: 1.5s all;
	cursor: pointer;
}

.enviar:hover {
    background-color: purple;
    transform: scale(1.0);
}
