.leiamais{
 color: purple;
 background: #d9d2e9;
 margin: auto; 

}

#mais{display: none}

#mais1{display: none}

#mais2{display: none}

#mais3{display: none}

.leiamais:hover {

 color: #998fb1; 
 background: #fff; }